/* login.css */

/* Header Styles */
.header {
  width: 100%;
  background-color: #1976D2; /* Replace with your primary color */
  padding: 1rem 6%;
  text-align: center;
}

.header h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
}

/* Main Content Styles */
.main-content {
  width: 40%; /* Adjust as needed */
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.main-content:hover {
  transform: scale(1.02); /* Hover effect for a subtle scale-up */
}

.main-content h5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #0a77e4;
}

